.App{
	height: 50vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.App-title{
	font-family: 'Acme', sans-serif;
}

.g-font-unlock{
	font-family: 'Dancing Script', cursive;
	font-weight: bold;
	font-size: 200%;
	color: rgb(255, 255, 255);
}

.colorBlack{
	color: black;
}