.App{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.App-title{
	font-family: 'Kumar One Outline', cursive;
}

.g-font-unlock{
	font-family: 'Unlock', cursive;
	font-weight: bold;
	font-size: 3rem;
	color: rgb(255, 255, 255);
}

.colorBlack{
	color: black;
}